<h1 class="title">Login to your account</h1>

<main class="form" style="--accent-color: {{{ProviderAccentColor}}}">
    <form name="auth" action="/auth/capture" method="post">
        <input type="hidden" name="auth" value="{{{Authorisation}}}">
        <input type="hidden" name="state" value="{{{SharedState}}}">
        <img src="{{{ProviderLogoUrl}}}" alt="" class="logo">
        <input type="email" name="email" placeholder="Email address" value="">
        <input type="password" autocapitalize="off" spellcheck="false" name="password" placeholder="Password" value="">

        <p class="gdpr-description">
            By logging in, you will share your details with <strong>{{{ManufacturerDisplayName}}}</strong>. Review the full <a href="{{{ManufacturerPolicyUrl}}}">privacy policy</a> before continuing.
        </p>

        <button type="submit">Login</button>

    <div style="margin-top: 16px; text-align: center">
        <a href="https://octopus.energy/forgotten-password/" target="_blank">I've forgotten my password</a>
    </div>

    </form>

</main>

<p style="padding-top: 5px;">
    <form name="setup" action="{{DefaultAssistedProviderUrl}}"  method="post">
        <span>If you don't know your login details or don't like to provide them you can also</span>
        <input style="text-decoration: underline;" type="url" onclick="{{DefaultAssistedProviderUrl}}" value="Set your tariff manually">
        <input type="hidden" name="auth" value="{{{Authorisation}}}">
        <input type="hidden" name="state" value="{{{SharedState}}}">
    </form>
</p>

<script>
    window.addEventListener("load", function () {
        const form = document.querySelector('form[name="setup"]');
        form.action = "{{{CustomAssistedProviderUrl}}}" || "{{DefaultAssistedProviderUrl}}";
        //form.submit();
    });
</script>
