<h1 class="title">Login to your account</h1>
<form class="form" style="--accent-color: {{{ProviderAccentColor}}}" name="auth" action="/auth/capture?state={{{SharedState}}}" method="post">
    <img src="{{{ProviderLogoUrl}}}" alt="" class="logo">
    <input type="email" name="email" placeholder="Email address" value="">
    <input type="password" autocapitalize="off" spellcheck="false" name="password" placeholder="Password" value="">

    {{#if error}}
        <div class="error-message">Login failed. {{{error}}}</div>
    {{/if}}

    <p class="gdpr-description">
        By logging in, you will share your details with <strong>{{{ManufacturerDisplayName}}}</strong>. Review the full <a href="{{{ManufacturerPolicyUrl}}}">privacy policy</a> before continuing.
    </p>

    <button type="submit">Login</button>

    <div class="forgot-details">
        <a href="https://octopus.energy/forgotten-password/" target="_blank">I've forgotten my password</a>
    </div>
</form>

<form class="fallback-form" name="setup" action="{{DefaultAssistedProviderUrl}}" method="post">
    <span>If you don't know your login details or don't like to provide them you can also</span>
    <button class="as-link" type="submit" onclick="{{DefaultAssistedProviderUrl}}">Set your tariff manually</button>
    <input type="hidden" name="auth" value="{{{Authorisation}}}">
    <input type="hidden" name="state" value="{{{SharedState}}}">
</form>

<script>
    window.addEventListener("load", function () {
        const form = document.querySelector('form[name="setup"]');
        form.action = "{{{CustomAssistedProviderUrl}}}" || "{{DefaultAssistedProviderUrl}}";
    });
</script>
