<h1 class="title">Sign in to your account</h1>
<p class="description">Let your appliance access your tariff rates</p>

<form name="auth" class="form" action="/auth" method="post">
    <img src="https://static.flatpeak.energy/providers/octopus-uk.png" alt="" class="logo">
    <input type="text" name="email" placeholder="User ID or Account Number" value="">
    <input type="password" name="password" placeholder="Password" value="">
    <button type="submit">Sign in</button>
</form>

<div class="disclaimer">
    <p>By logging in you will be sharing your {{{ProviderDisplayName}}} login details with {{{ManufacturerDisplayName}}}.</p>

    <p>We will <strong>only</strong> use your details to read your current tariff and will never share any of this information. View full <a href="{{{ManufacturerTermsUrl}}}">terms and conditions</a> and <a href="{{{ManufacturerPolicyUrl}}}">privacy policy</a> for more info.</p>
</div>

<script>
    window.addEventListener("load", function () {
        window.requestAnimationFrame(() => {
            const lastError = '{{{lastError}}}';
            if (lastError) {
                callback({object: 'error', type: 'api_error', message: lastError});
            }
        });
    });
</script>
