<div class="viewport theme-light" style="--accent-color: {{accent_color}}">
    <div class="viewport__wrapper">
        <header class="header">
            <div class="header__logo">
                <img src="{{provider.logo_url}}" alt="">
            </div>
        </header>
        <article class="content">
            <main class="main">
                <div class="main__wrapper">
                    <div class="main__heading">
                        <h1 class="title">Connect your account</h1>
                    </div>

                    <p class="main__intro">
                        By submitting your details, you will be sharing them with <strong>{{account.display_name}}</strong>. All data will be stored and processed in compliance with GDPR. View full  <a href="{{account.policy_url}}">data protection policy</a>.
                    </p>

                    <form class="form" id="auth" action="/auth_metadata_capture?fp_cot={{connect_token}}" method="post">

                    <fieldset class="fieldset">
                        <div class="text-field">
                            <input id="login-input" class="text-field__input" type="text" name="login" spellcheck="false" autocapitalize="none" placeholder="Login" value="{{demoLogin}}">
                            <label for="login-input" class="text-field__label">Login</label>
                        </div>
                        <div class="text-field">
                            <input id="password-input" class="text-field__input" type="password" autocapitalize="off" spellcheck="false" name="password" placeholder="Password" value="{{demoPassword}}">
                            <label for="password-input" class="text-field__label">Password</label>
                        </div>
                    </fieldset>
                    {{#if error}}
                        <div class="error-message">Login failed. {{{error}}}</div>
                    {{/if}}
                    </form>
                </div>
            </main>

            <footer class="footer">
                <button type="submit" form="auth" class="button--primary">Login</button>

<!--                <div class="forgot-details">-->
<!--                    <a href="#" target="_blank">Forgot my details</a>-->
<!--                </div>-->

                <form class="footer__disclaimer" name="setup" action="/action?fp_cot={{connect_token}}" method="post">
                    <span>If you don't know your login details or don't like to provide them you can also</span>
                    <button class="button--as-link" type="submit">Set your tariff manually</button>
                    <input type="hidden" name="route" value="{{route}}">
                    <input type="hidden" name="action" value="DISMISS_DIRECT">
                </form>
            </footer>


        </article>
    </div>
</div>

