<h1 class="title">Data sharing consent</h1>

<form name="reset" action="/action?fp_cot={{connect_token}}" method="post" style="display: none">
    <input type="hidden" name="route" value="{{route}}">
    <input type="hidden" name="action" value="REQUEST_MANUAL_PROVISION">
</form>

<form name="share" class="form" action="/consent_capture?fp_cot={{connect_token}}" method="post" style="--accent-color: {{accent_color}}">
    <input type="hidden" name="auth_metadata_id" value="{{auth_metadata_id}}">

    <img src="{{provider.logo_url}}" alt="" class="logo">

    <p><strong>{{account.display_name}}</strong> wants to access your account with {{provider.display_name}}</p>

    <div class="share-disclaimer">
        <p> This will allow them to view your:</p>
        <ul>
            <li>Electricity tariff(s)</li>
            <li>Email and postal address</li>
            <li>Account number</li>
        </ul>

        <p>Make sure that you know who they are.</p>

        <p class="additional">You may be sharing sensitive info with this site or app.  Learn about how {{account.display_name}} will handle your data by reviewing their <a href="{{account.policy_url}}">privacy policy</a> and <a href="{{account.terms_url}}">terms of service</a>. You can always see or remove access by contacting support</p>
    </div>

    <div class="buttons">
        <button type="reset">Cancel</button>
        <button type="submit">Allow</button>
    </div>

    <script>
        document.querySelector('form[name="share"]').addEventListener('reset', () => {
            document.querySelector('form[name="reset"]').submit();
        });
    </script>
</form>
