<form id="deny" action="/action?fp_cot={{connect_token}}" method="post" style="display: none">
    <input type="hidden" name="route" value="{{route}}">
    <input type="hidden" name="action" value="DISMISS_DIRECT">
</form>

<form id="allow" class="form" action="/consent_capture?fp_cot={{connect_token}}" method="post">
    <input type="hidden" name="auth_metadata_id" value="{{auth_metadata_id}}">
</form>

<div class="viewport theme-light" style="--accent-color: {{accent_color}}">
    <div class="viewport__wrapper">
        <header class="header">
            <div class="header__logo">
                <img src="{{provider.logo_url}}" alt="">
            </div>
        </header>
        <article class="content">
            <main class="main">
                <div class="main__wrapper">
                    <div class="main__heading">
                        <h1 class="title">Data sharing consent</h1>
                    </div>
                    <div class="main__intro">
                        <div class="text-accent">
                            <p><strong>{{account.display_name}}</strong> wants to access your account. This will allow them to:</p>
                            <br/>
                            <ul>
                                <li>View your electricity tariff</li>
                                <li>View your email and postal address</li>
                            </ul>
                            <br/>
                            <p>Make sure that you know who they are.</p>
                        </div>
                        <br/>
                        <p>Learn about how <strong>{{account.display_name}}</strong> will handle your data by reviewing their <a href="{{account.policy_url}}">data protection policy</a> and <a href="{{account.terms_url}}">terms of service</a>.</p>
                    </div>
                </div>
            </main>
            <footer class="footer">
                <button type="submit" form="allow" class="button--primary">Allow</button>
                <button type="submit" form="deny" class="button--as-link">Deny</button>
            </footer>
        </article>
    </div>
</div>
