<h1 class="title">Error</h1>
<p class="description">{{{error}}}</p>

{{#if callbackUrl}}
    <form name="callback" method="post" action="{{{callbackUrl}}}">
        <input type="hidden" name="error" value="{{{error}}}"/>
        <input type="hidden" name="auth" value="{{{Authorisation}}}">
        <input type="hidden" name="state" value="{{{PublicState}}}">
    </form>
    <script>
        window.addEventListener("load", function () {
            document.querySelector('form[name=callback]').submit();
        });
    </script>
{{else}}
<script>
    window.addEventListener("load", function () {
        window.requestAnimationFrame(() => {
            callback({
                object: 'error',
                type: 'Error.Integrations',
                critical: true,
                message: '{{{error}}}' || 'Something went wrong',
                state: '{{{PublicState}}}'
            });
        });
    });
</script>
{{/if}}
