<h1 class="title">Data sharing consent</h1>

<form name="reset" action="/cancel" method="post" style="display: none">
    <input type="hidden" name="auth" value="{{{Authorisation}}}">
    <input type="hidden" name="state" value="{{{SharedState}}}">
</form>

<form name="share" class="form" action="/share/capture" method="post" style="--accent-color: {{{ProviderAccentColor}}}">
    <input type="hidden" name="auth" value="{{{Authorisation}}}">
    <input type="hidden" name="state" value="{{{SharedState}}}">
    <img src="{{{ProviderLogoUrl}}}" alt="" class="logo">

    <p><strong>{{{ManufacturerDisplayName}}}</strong> wants to access your account with {{{ProviderDisplayName}}}</p>

    <div class="share-disclaimer">
        <p> This will allow them to view your:</p>
        <ul>
            <li>Electricity tariff(s)</li>
            <li>Email and postal address</li>
            <li>Account number</li>
        </ul>

        <p>Make sure that you know who they are.</p>

        <p class="additional">You may be sharing sensitive info with this site or app.  Learn about how {{{ManufacturerDisplayName}}} will handle your data by reviewing their <a href="{{{ManufacturerPolicyUrl}}}">privacy policy</a> and <a href="{{{ManufacturerTermsUrl}}}">terms of service</a>. You can always see or remove access by contacting support</p>
    </div>

    <div class="buttons">
        <button type="reset">Cancel</button>
        <button type="submit">Allow</button>
    </div>

    <script>
        document.querySelector('form[name="share"]').addEventListener('reset', () => {
            document.querySelector('form[name="reset"]').submit();
        });
    </script>
</form>
